.newsImgWrapper{
    height: 60%;
    display: flex;
    border-radius: 20px 20px 0px 0px;
    background-size: cover!important;
}

.newsDesc{
    height: 40%;
    display: flex;
    background: white;
    border-radius: 0px 0px 20px 20px;
    color: #272727;
    padding: 1rem 1.3rem;
    box-sizing: border-box;
    text-align: justify;
    line-height: 1.5rem;
}

.newsHeadingWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgba(0, 0, 0, 0.74);
    max-height: 80%;
    align-self: flex-end;
    padding: 0.6rem 1rem;
    /* padding: 1rem 2rem; */
}