.homeSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4% 6% 2% 6%;
    box-sizing: border-box;
    justify-content: space-between;
}

.leftSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

.upperSection{
    display: flex;
    justify-content: space-between;
    height: 65%;
}

.upperLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 52%;
}

.upperRight{
    display: flex;
    flex-direction: column;
    width: 44%;
}

.lowerSection{
    display: flex;
    justify-content: center;
    height: 32%;
    width: 100%;
}

.profileWrapper{
    height: 60%;
    display: flex;
}

.weatherWrapper{
    display: flex;
    height: 35%;
}

.rightSection{
    width: 34%;
    display: flex;
    flex-direction: column;
}

.topSection{
    height: 90%;
    display: flex;
    justify-content: space-between;
}

.bottomSection{
    display: flex;
    height: 6%;
    justify-content: flex-end;
}

.browseButton{
    background: #148A08;
    border-radius: 34px;
    border: none;
    width: 10%;
}